<div class="row">
    <div class="col-md-3">
      <div class="card text-white bg-primary mb-3">
        <div class="card-header">Users</div>
        <div class="card-body">
          <h5 class="card-title"><%= users %></h5>
          <p class="card-text">Total registered users</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-white bg-success mb-3">
        <div class="card-header">Batches</div>
        <div class="card-body">
          <h5 class="card-title"><%= batches %></h5>
          <p class="card-text">Active batches</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-white bg-info mb-3">
        <div class="card-header">Staff</div>
        <div class="card-body">
          <h5 class="card-title"><%= staff %></h5>
          <p class="card-text">Teaching staff</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-white bg-warning mb-3">
        <div class="card-header">Students</div>
        <div class="card-body">
          <h5 class="card-title"><%= students %></h5>
          <p class="card-text">Enrolled students</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card mt-4">
    <div class="card-header">
      <h5>Recent Activity</h5>
    </div>
    <div class="card-body">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h6 class="mb-1">New batch created</h6>
            <small>3 days ago</small>
          </div>
          <p class="mb-1">Batch "Toppers" was created</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h6 class="mb-1">New user registered</h6>
            <small>1 week ago</small>
          </div>
          <p class="mb-1">Staff member "John" was added</p>
        </a>
      </div>
    </div>
  </div>